*{
    margin: 0%;
    padding: 0%;
}

.navbar1{
    height:40px;
    background-color:rgb(128,0,34);
    color:white;
    display:flex;
    align-items:center;
}

.navitem:hover{
    cursor: pointer;
}
.inputItem{
    border:none;
    outline:none;
}
.inputItem:focus{
    border: none;
}
.searchbtn:hover{
    cursor: pointer;
}
.removebtn:hover,.contact:hover{
    cursor: pointer;
}
.objectItem:hover{
    cursor: pointer;
    background-color:#04AA6D !important;
    color: white !important;
}
